:root{
    --bg-main: #19191F21;
    --bg-slip: #9CBBF8F7;
    --main-text: #7957D8;
    --second-main-text: #361694;
    --accent-color: #4200FF;
    --chat-text: #361694;
    --login-button: #7E3FBE;
}
*{
    font-size: 20px;
    font-family: 'lobster';
    color: var(--main-text);
    border: 0%;
}
h1{
    color: var(--accent-color);
    font-size: 40px;
}
body{
    background-color: var(--bg-main);
}

button{
    display: flex;
    justify-content: center;
    padding: 14px 40px;
    margin-top: 228px;
    background-color: var(--login-button);
    border-radius: 9px;
    text-align: center;
    color: white;
}
input[type=text]{
    background-color: #3373D27D;
    margin-top: 93px;
    margin: 23px;
    border: none;
    border-radius: 9px;
}
.forget-user, .forget-pass{
    color: #02BFE9;
}
.newaccount{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.vl{
    border-left: 2px solid grey;
    padding: 82.5px;
    height: auto;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0%;
}