*,

:root{
    --bg-main: #19191F21;
    --bg-slip: #9CBBF8F7;
    --main-text: #7957D8;
    --second-main-text: #361694;
    --accent-color: #4200FF;
    --chat-text: #361694;


}
*{
    font-size: 20px;
    font-family: 'lobster';
    color: var(--main-text);
}
body{
    background-color: var(--bg-main);
}
.first-cate{
    align-content: center;
}

.categories {
    display: flex;
    justify-content: space-around;
}
.categories a {
    width: 110px;
    text-align: center;
}

.tweets {
    display: flex;
    flex-direction: column;
}

.tags {
    display: flex;
    justify-content: space-evenly;
    padding: 0%;
}

.content{
    display: flex;
    font-size: 35px;
}

.banner{
    position: sticky;
    background-color: var(--bg-slip);
}

.hobbies{
    display: flex;
    justify-content: flex-start;
}

button{
    background-color: #D9D9D9;
    border: none;
    border-radius: 9px;
    text-align: center;
}

button:last-of-type{
    align-items: end;
}